<div class="content-container default-content-container">
<%= form_for :task, :url => { :action => 'create' }, :html=>{:class=>"user-form"} do |form| %>
    <p>
      <%= form.label :task %><br>
      <%= form.text_field :task %>
    </p>

    <p>
      <%= form.submit 'Add' %>
    </p>
  <% end %>
</div>
