<div class="content-container default-content-container">
<%= form_for :material, :url => { :action => 'addprov' }, :html=>{:class=>"user-form"} do |form| %>
 <p>
   <%= form.label :name %><br>
   <%= form.text_field :name %>
 </p>

  <p>
   <%= form.submit 'Add provider' %>
 </p>
<% end %>
</div>
